#nave{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

#flex-container{
    display: flex;
    background-color: white;
    padding: 10px ;
    font-weight: bold;  
}


#flex-container2{
    font-weight: bold;
    display: flex;
    background-color: white;
    padding: 10px;  
}

.log{
    color:white;
    padding: 14px 25px;
    background-color: black;
    border-radius: 50px;
}
.log:hover{
    background-color: #f3f3f6;
    color: black;
}
.flex-item{
    padding:15px;
}

.flex-item:hover{
    color: gray;
}

header{
    margin-top: 100px;
}
h1{
    font-family: 'Source Serif 4';
    font-size: 65px;
    text-align: center;
   margin-top: 35px;
}

p{
    font-family: "Mona Sans", sans-serif;
    font-size: 65px;
    font-size: 20px;
    text-align: center; 
}

.immagine img{
    margin: auto;
    height: 45px;
    padding-right: 20px;
}

#container3{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; 
    background-color: #f3f3f6;
    height: 55px;
    width: 50%;
border-radius: 30px;
}
#container3:hover{
    background-color: white;
    border: 1px solid hotpink;
  }  
#barra{
    color: rgb(77, 77, 77);
    padding-top: 17px;
   padding-left: 15px;
}

#barra2{
    display:flex;
    justify-content: start;
    align-items: center;
    color: rgb(77, 77, 77);
    padding-right: 10px;
    
}

#container3 img{
    height: 25px;
    border-radius:25px ;
    background-color: hotpink;
    padding: 5px;
    margin: 10px;
}

#container4 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top:30px ;
  margin-top: 5px;
  
}
#box{
    color: gray;
    padding-right:20px ;
    padding-top: 5px;
}

.box1{
   
   border-radius: 30px;
   background-color: #f3f3f6; 
   margin: 5px;
}

#container5{
    display: flex;
    justify-content: center;
   font-family: Arial, Helvetica, sans-serif;
    padding: 50px 10px 0px 10px;
    
}

   

.box3{
    padding-right: 20px;
    padding-left:20px ;
    padding: 10px;
}


#corpo{
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;
   
}

#corpo div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 290px;
    height: 250px;
    margin: 20px 15px 15px 15px;
    background-size:cover;
    background-position: center;
    border-radius: 20px;
}
#corpo div div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    margin: 5px;
}
#corpo div div img{
    width: 20px;
    height: 20px;
    
}


#img1{
    background-image: url(geo.png);
}
#img2{
    background-image: url(sedia.jpg);
}
#img3{
    background-image: url(forme.jpg);
}
#img4{
    background-image: url(farfalla.jpg);
}
#img5{
    background-image: url(libro.jpg);
}
#img6{
    background-image: url(bird.jpg);
}
#img7{
    background-image: url(mano.jpg);
}
#img8{
    background-image: url(scala.jpg);
}
#img9{
    background-image: url(spirale.jpg);
}
#img10{
    background-image: url(fiori.jpg);
}
#img11{
    background-image: url(astro.jpg);
}
#img12{
    background-image: url(fox.jpg);
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#footer2{
   display: flex;
    justify-content: space-around;
}

@media(max-width: 768px) {
    #flex-container .immagine {
        display: block;
    }
   
    #flex-container div {
        display: none;
    }

    #container3 {
        width: 90%;
        margin: 10px auto; 
    }
    #container4 {
        width: 90%; 
        font-size: 15px;
    }

    #container5 {
        
        align-items: center;
        padding: 20px 10px; 
    }

    #box2 {
        margin-bottom: 20px;
        width: 100%; 
        text-align: center; 
    }

    #box4 {
        margin-top: 20px;
        width: 100%; 
        text-align: center; 
    }

    #corpo {
        
        padding: 10px;
    }

    #corpo div {
        width: 75%; 
        margin: 10px ;
    }

    h1 {
        font-size: 40px;
        margin-top: 20px; 
    }

    p {
        font-size: 16px; 
        padding: 0 10px; 
    }

    .log {
        font-size: 14px;
        padding: 10px 20px;
    }

    .box1 {
        padding: 5px;
        margin: 10px auto;
        width: 90%; 
    }
    #footer {
     flex-direction: column;
    }
}